body
{
    background-color: yellow;
    text-align: center;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

img
{
    position: absolute;
    right: 0;
    bottom: 0;
}