body
{
    background-color: yellow;
    text-align: center;
}

#textbox
{
    background-color: black;
    color: white;
    text-align: justify;
    text-indent: 5px;
    line-height: 2em;
}

img
{
    position: absolute;
    right: 0;
    bottom: 0;
}